# Contoh file keystore.properties
# Copy file ini menjadi keystore.properties dan isi dengan kredensial Anda
# JANGAN commit file keystore.properties ke Git!

storePassword=your-store-password-here
keyPassword=your-key-password-here
keyAlias=my-release-key
storeFile=../keystore/release-keystore.jks
